/*  Reset CSS */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-family: "Montserrat", sans-serif;
  background-color: #eee;
  color: #333;
}

p {
  margin-bottom: 0.8rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 1.5rem;
}

a {
  text-decoration: none;
  color: #333;
}

li {
  list-style: none;
}

strong {
  color: #ff9100;
  font-weight: 400;
  font-size: 3rem;
}
